on: push

name: Test builds

jobs:
  build_win_msvc:
    name: Build Windows (MSVC) artifacts
    runs-on: windows-2025
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Checkout deps
        run: git clone https://github.com/xmrig/xmrig-deps.git
      - name: Build project on Windows (MSVC)
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 -DXMRIG_DEPS=${{ github.workspace }}/xmrig-deps/msvc2022/x64
          cmake --build . --config Release

  build_lin:
    name: Ubuntu build
    runs-on: ubuntu-latest
    steps:
      - name: Prepare Ubuntu tools
        run: |
          sudo apt update
          sudo apt install -y git build-essential cmake libuv1-dev libssl-dev libhwloc-dev
      - name: Checkout code
        uses: actions/checkout@master
      - name: Build project on Ubuntu
        run: |
          cmake .
          make -j$(nproc)
